body,ul,p,h1,h2,h3,h4,dl,dd,form,input,texttarea,select{padding:0;margin:0;font-family:arial;}
#header{
 background-color: rgb(36, 41, 46);
 font-size: 14px;
 line-height: 21px;
 width: 1572px;
 height: 80px; 
 align-items: center;
 display: flex;
 align-items: center;
}
#icon_github{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
}
#search{
    background-color: hsla(0, 0%, 100%, 0.125);
    color:hsla(0, 0%, 100%, 0.7);
    font-size: inherit;
    font-weight:400;
    width: 375px;
    height: 34px;
    position: absolute;
    top: 23px;
    left: 80px;
    border:0;
}
#menu{
    position: absolute;
    left: 476px;
    top: 23px;
    font-size: 20px;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 0.7);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
#menu a{
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
}
#icon_user{
    position: absolute;
    left: 1487px;
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
}
#plus_sign{
    position: absolute;
    left: 1437px;
    width: 30px;
    height: 15px;
    display: flex;
    align-items: center;
}
#icon_xiaoxi{
    position: absolute;
    left: 1400px;
    width: 17px;
    height: 19px;
    display: flex;
    align-items: center;
}
#protip{
    background-color: #f1f6fb;
    border: 1px solid #d0e5f8;
    border-radius: 3px;
    color: #244f79;
    font-size: 14px;
    position: absolute;
    left: 540px;
    top: 120px;
    width: 900px;
    height: 77px;
}
#protip_kid{
    box-sizing: border-box;
    color: #24292e;
    font-size: 17px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    position: absolute;
    top: 25px;
}
strong{
    font-weight: 600;
}
#chart{
    position: absolute;
    left: 108px;
    top: 119px;
    width: 367px;
    height: 864px;
}
#chart_img{
    width: 367px;
    height: 418px;
}
#Edit{
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, rgb(250, 251, 252), rgb(239, 243, 246) 90%);
    color: #24292e;
    width: 367px;
    height: 46px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    border: 1px solid rgba(27,31,35,.2);
}
#Edit-form{
    width: 367px;
    height: 310px;
    position: absolute;
    top: 492px;
    left: 0px;
    display: none;
}
#input-1{
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4px !important;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 2px solid #d1d5da;
    width: 367px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#people{
    position: absolute;
    top: 125px;
    left: 0px;
    width: 21px;
    height: 18px;
}
#input-2{
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4px !important;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 2px solid #d1d5da;
    width: 335px;
    height: 38px;
    position: absolute;
    top: 116px;
    left: 32px;
}
#position{
    position: absolute;
    top: 173px;
    left: 0px;
    width: 17px;
    height: 21px;
}
#input-3{
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4px !important;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 2px solid #d1d5da;
    width: 335px;
    height: 38px;
    position: absolute;
    top: 165px;
    left: 32px;
}
#webisite{
    position: absolute;
    top: 225px;
    left: 0px;
    width: 20px;
    height: 14px;
}
#input-4{
    box-sizing: border-box;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4px !important;
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 2px solid #d1d5da;
    width: 335px;
    height: 38px;
    position: absolute;
    top: 213px;
    left: 32px;
}
#save{
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, rgb(52, 208, 88), rgb(40, 167, 69) 90%);
    color: #fff;
    font-weight: 600;
    width: 63px;
    height: 37px;
    position: absolute;
    top: 273px;
    left: 0px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}
#cancel{
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
    background-color: #eff3f6;
    background-image:linear-gradient(-180deg, rgb(250, 251, 252), rgb(239, 243, 246) 90%);
    color: #24292e;
    font-weight: 600;
    width: 78px;
    height: 37px;
    position: absolute;
    top: 273px;
    left: 69px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
}
#saveEdit{
    width: 367px;
    height: 194px;
    position: absolute;
    top: 505px;
    left: 0px;
}
#people1{
    position: absolute;
    left: 0px;
    top: 115px;
    width: 21px;
    height: 18px;
}
#position1{
    position: absolute;
    left: 2px;
    top: 147px;
    width: 17px;
    height: 21px;
}
#webisite1{
    position: absolute;
    top: 184px;
    left: 2px;
    width: 20px;
    height: 14px;
}
#input-11{
    position: absolute;
    top: 75px;
    left: 1px;
    width: 200px;
    height: 18px;
    font-size: 20px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
}
#input-22{
    position: absolute;
    top: 109px;
    left: 30px;
    width: 200px;
    height: 18px;
    font-size: 20px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
}
#input-33{
    position: absolute;
    left: 31px;
    top: 144px;
    width: 200px;
    height: 13px;
    font-size: 20px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
}
#input-44{
    position: absolute;
    left: 31px;
    top: 177px;
    width: 200px;
    height: 17px;
    font-size: 20px;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    line-height: 1.5;
}
#subscript{
    width: 1324px;
    height: 151px;
    position: absolute;
    top: 1158px;
    left: 157px;
}
#Github{
    width: 139px;
    height: 13px;
    position: absolute;
    top: 59px;
    left: 64px;
    color: #586069 !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
}
#terms{
    width: 44px;
    height: 11px;
    position: absolute;
    left: 241px;
    top: 59px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#privacy{
    position: absolute;
    left: 322px;
    top: 59px;
    width: 50px;
    height: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#security{
    position: absolute;
    left: 408px;
    top: 59px;
    width: 57px;
    height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#status{
    position: absolute;
    left: 502px;
    top: 59px;
    width: 44px;
    height: 12px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#help{
    position: absolute;
    left: 583px;
    top: 59px;
    width: 33px;
    height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#contect_github{
    position: absolute;
    left: 837px;
    top: 59px;
    width: 110px;
    height: 12px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#pricing{
    position: absolute;
    left: 995px;
    top: 59px;
    width: 47px;
    height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#Api{
    position: absolute;
    left: 1089px;
    top: 59px;
    width: 23px;
    height: 11px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#training{
    position: absolute;
    left: 1160px;
    top: 59px;
    width: 57px;
    height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#blog{
    position: absolute;
    left: 1265px;
    top: 59px;
    width: 31px;
    height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#about{
    position: absolute;
    left: 1343px;
    top: 59px;
    width: 45px;
    height: 12px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
#whitegithub{
    position: absolute;
    left: 710px;
    top: 59px;
    width: 32px;
    height: 31px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #24292e;
    font-size: 16px;
    line-height: 1.5;
}
